body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: palegreen;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.btn{
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: yellow;
    border-radius: 5px;
    padding: 5px 20px;
}
